<!-- Banner -->
<section id="banner">
  <div class="inner">
    <header>
      <h1>Stock Price</h1>
      <p>Stock Price is an application that provides real-time information about stock prices.</p>
    </header>
    <a pageScroll href="#main" id="more">Learn More</a>
  </div>
  <app-banner-video></app-banner-video>
</section>

<!-- Main -->
<div id="main" #main>
  <div class="inner">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <h2>Stock Price is amazing stock price application!</h2>
    <p>Stock Price is an application that provides real-time information about stock prices.</p>

    <p class="copyright">&copy; Stock Price. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>. Videos: <a href="http://coverr.co/">Coverr</a>.</p>
  </div>
</footer>
