@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Passion+One:400");

/*
	Full Motion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

button:focus {
  outline: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* Box Model */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Basic */

@-ms-viewport {
  width: device-width;
}

body {
  -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {

  html, body {
    min-width: 320px;
  }

}

body {
  background: #1b1e27;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

/* Type */

body, input, select, textarea {
  color: rgba(255, 255, 255, 0.75);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14pt;
  font-weight: 300;
  line-height: 1.65;
}

@media screen and (max-width: 1680px) {

  body, input, select, textarea {
    font-size: 11pt;
  }

}

@media screen and (max-width: 1280px) {

  body, input, select, textarea {
    font-size: 11pt;
  }

}

@media screen and (max-width: 980px) {

  body, input, select, textarea {
    font-size: 12pt;
  }

}

@media screen and (max-width: 736px) {

  body, input, select, textarea {
    font-size: 12pt;
  }

}

@media screen and (max-width: 480px) {

  body, input, select, textarea {
    font-size: 12pt;
  }

}

a {
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  border-bottom: 1px dotted;
  outline: 0;
}

a:hover {
  color: #FFF;
  border: none;
}

strong, b {
  color: #fff;
  font-weight: 400;
}

em, i {
  font-style: italic;
}

p {
  margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.35em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.7em;
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

blockquote {
  border-left: solid 4px rgba(144, 144, 144, 0.25);
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em;
}

/* Section/Article */

header p {
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  margin: 0 0 1.5em 0;
}

/* Form */

input[type="text"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgb(31, 36, 45);
  border-radius: 4px;
  border: none;
  border: solid 1px rgb(49, 58, 76);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}

input[type="text"]:invalid {
  box-shadow: none;
}

input[type="text"]:focus {
  border: 2px solid #414d65;
  box-shadow: none;
}

input[type="text"] {
  height: 2.75em;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1.0;
}

:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1.0;
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1.0;
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1.0;
}

/* Button */

button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #495a7b;
  border-radius: 4px;
  border: 0;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: 2.85em;
  line-height: 2.95em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

button:hover,
.button:hover {
  background-color: #33425f;
}

button:active,
.button:active {
  background-color: #2a364e;
}

button.fit,
.button.fit {
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
}

button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
  background-color: rgba(255, 255, 255, 0.75) !important;
  box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
  color: #202024 !important;
  cursor: default;
  opacity: 0.25;
}

@media screen and (max-width: 480px) {

  button,
  .button {
    padding: 0;
  }

}

/* Banner */

#banner {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  padding: 8em 4em 6em 4em;
  min-height: 70vh;
  background-image: url("assets/images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 0;
  position: relative;
  text-align: center;
  overflow: hidden;
}

#banner .inner {
  text-align: center;
  position: relative;
  z-index: 2;
}

#banner h1 {
  color: #fff;
  font-size: 5em;
  font-weight: 400;
  font-family: 'Passion One', cursive;
  margin: 0;
}

@media screen and (max-width: 980px) {

  #banner h1 {
    font-size: 5em;
  }

}

@media screen and (max-width: 736px) {

  #banner h1 {
    font-size: 3em;
  }

}

#banner p {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.5em;
  font-weight: 300;
}

@media screen and (max-width: 980px) {

  #banner p {
    font-size: 1.5em;
  }

}

@media screen and (max-width: 480px) {

  #banner p {
    font-size: 1.25em;
  }

}

#banner a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  border-bottom: 1px dotted;
}

#banner a:hover {
  color: #FFF;
  border: none;
}

#banner #more {
  background-image: url("assets/images/arrow.svg");
  background-position: center 1.35em;
  background-repeat: no-repeat;
  background-size: auto;
  border: 1px solid #fff;
  border-radius: 100%;
  color: rgba(255, 255, 255, 0.75);
  display: block;
  height: 4em;
  text-indent: 4em;
  overflow: hidden;
  white-space: nowrap;
  width: 4em;
  z-index: 2;
  margin: 0 auto 2em auto;
}

#banner #more:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #fff;
  color: #FFF;
}

#banner video {
  -moz-transform: translateX(50%) translateY(50%);
  -webkit-transform: translateX(50%) translateY(50%);
  -ms-transform: translateX(50%) translateY(50%);
  transform: translateX(50%) translateY(50%);
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

#banner:before {
  -moz-transition: opacity 3s ease;
  -webkit-transition: opacity 3s ease;
  -ms-transition: opacity 3s ease;
  transition: opacity 3s ease;
  -moz-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -ms-transition-delay: 1s;
  transition-delay: 1s;
  content: '';
  background-color: #212835;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.45;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 1280px) {

  #banner video {
    display: none;
  }

}

@media screen and (max-width: 980px) {

  #banner br {
    display: none;
  }

}

@media screen and (max-width: 736px) {

  #banner {
    min-height: 0;
    padding: 6em 2em 4em 2em;
  }

  #banner br {
    display: none;
  }

}

body.is-loading #banner:before {
  opacity: 1;
}

/* Main */

#main {
  padding: 4em 0 2em 0;
}

@media screen and (max-width: 736px) {

  #main {
    padding: 3em 0 1em 0;
  }

}

#main .inner {
  width: 90%;
  max-width: 80em;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {

  #main .inner {
    width: 95%;
  }

}

/* Footer */

#footer {
  padding: 4em 0 2em 0;
  background-color: #14171f;
  text-align: center;
}

#footer .inner {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 980px) {

  #footer .inner {
    width: 75%;
  }

}

@media screen and (max-width: 480px) {

  #footer .inner {
    width: 90%;
  }

}

#footer .copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9em;
  margin: 0 0 2em 0;
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 736px) {

  #footer {
    padding: 3em 0 1em 0;
  }

}
